$font-size-logo: 2.9rem;

$primaryColor: #3461ff;
$textColor: #000;
$font-size-xl: 8.6rem;
$font-size-lg: 4rem;
$font-size-s: 1.6rem;
$line-height-xl: 12rem;
$line-height-lg: 100%;
$line-height-s: 2.8rem;
$white: #fff;
$blur: #fafafa;
$textBlur: #aaaaaa;

$textDescColor: rgba(0, 0, 0, 0.6);
$colorDark: #232038;
$yellow: #e0ff22;
